@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'League Spartan', sans-serif;
    color: #1A2634;
}

#navbarContainer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbarContainer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbarContainer .container .menu {
    display: flex;
    align-items: center;
}

#navbarContainer .container .menu .wrapperMenu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


#hero {
    height: 715px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

#app {
    position: relative;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 96px;
}

.slick-active {
    width: 500px !important;
}


#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#navbar .brand {
    display: flex;
    margin-top: 20px;

    align-items: center;

}


#navbar .menu {
    display: flex;
    align-items: center;
    margin-top: 15px;

}

#navbar .menu ul {
    list-style: none;

}

#navbar .menu ul li {
    margin-left: 20px;
    display: inline-block;

}

/* .is-active {
    width: 60% !important;
} */


.p-example__body {
    overflow: hidden;
    color: #333;
}

.p-example__splide {
    padding: 3rem 2rem;
}

@media screen and (min-width: 768px) {
    .p-example__splide {
        padding: 4rem;
    }
}

.p-splide__slide {
    position: relative;
    color: #1A2634;
    border-radius: 0.5rem;
    /* border: 3px solid #eef5ae; */
    /* border: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.12)); */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    /* background: #dceb5d; */
    overflow: visible;
    line-height: 1.5;
    padding: 30px;
    transition: border-color 0.15s cubic-bezier(0.54, 0.01, 0.1, 1), background-color 0.15s cubic-bezier(0.54, 0.01, 0.1, 1);
}

.p-splide__slide-number {
    position: absolute;
    bottom: 0.15em;
    left: 0.5rem;
    font-family: "Lato", sans-serif;
    font-size: 1.7rem;
    line-height: 0.75;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .p-splide__slide-number {
        left: 1rem;
        font-size: 3.2rem;
    }
}

.splide__slide.is-active .p-splide__slide {
    /* background: #13c59d; */
    /* border-color: #13c59d; */
}

.splide__slide {
    padding-top: 17px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 17px !important;
}

.splide__pagination {
    bottom: -2.3rem;
    left: 50%;
    transform: translateX(-50%);
}

.splide__pagination__page {
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* background: #93a313; */
    margin: 0.4em;
    cursor: pointer;
    display: block;
}

.footerUl li {
    list-style: none;
    margin-left: -30px;
}


#stars {
    animation: slideUpDown 3s ease infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

@keyframes slideUpDown {
    0% {
        transform: translateY(-10px);
        /* Posisi awal di atas */
    }

    50% {
        transform: translateY(10px);
        /* Posisi tengah di bawah */
    }

    100% {
        transform: translateY(-10px);
        /* Kembali ke posisi atas */
    }
}

.heroHead {
    width: 80%;
    margin: auto;
    z-index: 99;
    position: relative;
}

.buttonStart {
    width: 335px;
    height: 60px;
    background: #1A2634;
    color: white;
    border-radius: 30px;
    font-size: 32px;
    cursor: pointer;
    z-index: 99;
}

#buttonNavbar {
    z-index: 99999;
}

#phoneNavbar {
    display: none;

}


.mainCourseWrapper {
    width: 90%;
    margin: auto;
    gap: 60px;
    flex-wrap: wrap;
}

.cardCoursePhone {
    display: none;
}

.portfolioHeading {
    font-size: 64px;
    width: 633px;
    text-align: center;
    font-weight: 600;
    line-height: 60px;
}

.skillsHeading {

    font-size: 82px;
    width: 633px;
    text-align: left;
    line-height: 70px;
    font-weight: 600;
}

.skillsButton {
    background: #1A2634;
    width: 280px;
    height: 60px;
    border-radius: 50px;
    font-size: 25px;
}


.mainHero {
    width: 60%;
    text-align: center;
    margin: auto;
}

#learn_more {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(220%, -50%);
    text-align: right;

}

.custom-margin {
    margin-left: 800px;
    /* Adjust the value as needed */
}

.service1 {
    grid-area: serv1;
    border-radius: 7px;
    box-shadow: 4px 4px 4px 5px rgba(0, 0, 0, 0.2);

}

.service2 {
    grid-area: serv2;
    border-radius: 7px;

    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);


}

.service3 {
    border-radius: 7px;

    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);

}

.service4 {
    border-radius: 7px;

    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);

}

.service5 {
    border-radius: 7px;

    grid-area: serv5;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);


}

.service6 {
    border-radius: 7px;

    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);

}

.grid-container {
    display: grid;
    grid-template-areas: "serv1 serv3 serv4 serv5"
        "serv1 serv2 serv6 serv5";
    gap: 50px;
    background-color: white;
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 20px 30px;
    font-size: 30px;
}

.testi1 {
    grid-area: test1;
    border-radius: 7px;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);

}

.testi2 {
    border-radius: 7px;

    grid-area: test2;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);


}

.testi3 {
    border-radius: 7px;

    grid-area: test3;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);

}

.testi4 {
    border-radius: 7px;

    grid-area: test4;

    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);

}

.testi5 {
    border-radius: 7px;

    grid-area: test5;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);


}

.testi6 {
    border-radius: 7px;

    grid-area: test6;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);

}

.grid-container-testi {
    display: grid;
    grid-template-areas: "test1 test3 test5 "
        "test2 test4 test6 ";
    gap: 50px;
    background-color: white;
    padding: 10px;
}

.grid-container-testi>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 20px 30px;
    font-size: 30px;
}
.btnPhone {
    display: none !important;
}

@media only screen and (max-width: 1000px) {

    .grid-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .grid-container-testi {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .btnPhone {
        display: unset !important;
        z-index: 99999;
    }

    .mainHero {
        width: 80%;
    }

    .mainHero h1 {
        width: 100%;
        margin-bottom: 20px;
        font-size: 40px !important;
    }

    .skillsWrapper {
        justify-content: center;
        text-align: center;
    }

    .heroHead {
        font-size: 30px !important;
    }

    .cardCoursePhone {
        display: block;
    }


    .cardCoursePhone h3 {
        font-size: 25px;
        font-weight: 400;
    }

    .buttonStart {
        width: 200px;
        font-size: 15px;

    }

    .portfolioHeading {
        font-size: 30px;
        width: 70%;
        text-align: center;
        font-weight: 600;
        line-height: 60px;
    }

    .mainCourseDesktop {
        display: none !important;
    }

    .mainCourseFotoDesktop {
        display: none;
    }

    .cardCourse {
        display: none;
    }

    .mainCourseWrapper {
        flex-direction: column;
    }

    .menu,
    .menu ul,
    .menu ul li {
        display: none;
    }

    .brand {
        width: 100%;
        justify-content: center;
    }

    .skillsHeading {
        width: 70%;
        font-size: 32px;
        text-align: center;
    }

    .skillsButton {
        display: none;
    }

    .footerContainer {
        flex-direction: column;
    }

    .footerContainer .main {
        flex-direction: column;
    }

    .footerContainer .brand {
        margin-bottom: 60px;
    }

    #learn_more {
        position: absolute;
        top: 77%;
        left: 50%;
        transform: translate(220%, -50%);
        text-align: right;

    }
}